@import "./../../styles/mixins.scss";
.issueOffer {
  &__header {
    height: 80px;
    display: flex;
    border-bottom: 0.5px solid lightgray;
    // align-items: center;
    padding: 0 20px;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-top: 10px;
    .title {
      font-size: 22px;
      font-weight: bold;
      padding: 0;
      margin-bottom: 5px;
    }
    .appName {
      padding: 0;
      font-size: 13px;
      flex: 1;
    }
  }
  &__closeIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 10px;
    color: gray;
    cursor: pointer;
    transition-duration: 0.3s;
    &:hover {
      color: black;
      transition-duration: 0.3s;
    }
  }
  &__body {
    padding: 15px 0;
    min-height: 300px;
    .appInfo {
      background: whitesmoke;
      margin: 0 20px;
      padding: 10px;
      border-radius: 3px;
      &__header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid lightgray;
        height: 65px;
        .title {
          font-weight: bold;
          font-size: 22px;
          margin-bottom: 5px;
        }
        .appName {
          font-size: 13px;
        }
      }
      &__body {
        padding-top: 10px;
        .row {
          display: flex;
          font-size: 13px;
          padding: 7px 0;
          span:first-child {
            font-weight: bold;
            width: 250px;
          }
        }
      }
    }
  }
  &__footer {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    border-top: 0.5px solid lightgray;
    button {
      margin-left: 10px;
    }
  }
}
.fallback {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
