.creditReportModalSize {
  width: 1000px;
}
.creditReportPage {
  background: white;
  border-radius: 3px;
  margin-bottom: 10px;
}
.creditReport {
  &__header {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .left {
      flex: 1;
      img {
        width: 130px;
      }
    }
    .center {
      flex: 1.5;
      display: flex;
      flex-direction: column;
    }
    .headerRow {
      span:first-child {
        font-size: 13px;
        font-family: "OpenSanceBold";
      }
      span:last-child {
        font-size: 13px;
        padding: 0 20px;
      }
    }
    .right {
      flex: 1;
    }
  }
  &__closeIcon {
    font-size: 13px;
    color: gray;
    cursor: pointer;
    transition-duration: 0.3s;
    position: absolute;
    top: 20px;
    right: 30px;
    &:hover {
      color: black;
      transition-duration: 0.3s;
    }
  }
  &__body {
    padding: 20px;
  }
  &__box {
    &.firstBox {
      background: rgb(238, 243, 249);
      border-radius: 10px;
      border: 1px solid gray;
      padding: 10px;
      .row {
        display: flex;
        padding: 3px 0;
        &__left {
          display: flex;
          flex: 1;
        }
        &__right {
          display: flex;
          flex: 1;
        }
        .key {
          flex: 1;
          font-size: 13px;
          font-family: OpenSanceBold;
        }
        .value {
          flex: 1;
          font-size: 12px;
        }
      }
    }
  }
  &__box1 {
    margin: 20px 0;
    &__header {
      background: whitesmoke;
      font-family: OpenSanceBold;
      font-size: 14px;
      padding: 3px 10px;
      border-bottom: 1px solid gray;
    }
    &__body {
      background: rgb(238, 243, 249);
      .row {
        padding: 5px 10px;
        display: flex;
        font-size: 13px;
        span:first-child {
          flex: 1;
        }
        span:last-child {
          flex: 2;
        }
        span:first-child {
          font-family: OpenSanceBold;
        }
      }
      table {
        width: 100%;
        thead {
          th {
            border-bottom: 1px solid gray;
            padding: 3px 10px;
            background: whitesmoke;
            font-family: OpenSanceBold;
            font-size: 14px;
            text-align: left;
          }
        }
        tbody {
          td {
            padding: 5px 10px !important;
            font-size: 13px;
          }
          td:nth-child(odd) {
            font-family: OpenSanceBold;
          }
        }
        tfoot {
          td {
            border-bottom: 1px solid gray;
            padding: 3px 10px;
            background: whitesmoke;
            font-family: OpenSanceBold;
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }
  }
  &__footer {
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    border-top: 0.5px solid lightgray;
    button {
      margin-left: 10px;
    }
  }
}
