.issueOfferForm {
  &__content {
    padding: 0 30px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
  }
  &__actions {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    border-top: 0.5px solid lightgray;
    button {
      margin-left: 10px;
    }
  }
}
.formRow {
  flex: 1;
  width: 100%;
  display: flex;
  .custom_checkbox {
    margin: 15px 0;
    label {
      cursor: pointer;
    }
  }
  &__column {
    flex: 1;
  }
  &__column:nth-child(even) {
    margin-left: 20px;
  }
}
