@import "./../../styles/variables.scss";
.openedApps {
  display: flex;
  flex-direction: column;
}
.openedApp {
  background: white;
  box-shadow: 0 0 2px lightgray;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  &__header {
    margin: 10px 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
  }
  &__title {
    font-size: 20px;
    font-family: OpenSanceBold;
    margin-bottom: 10px;
  }
  &__headerinfo {
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    font-family: OpenSanceBold;
    .headerItem {
      display: flex;
      flex-direction: column;
      font-size: 13px;
      color: gray;
      flex: 1;
      span:first-child {
        font-size: 14px;
        color: black;
      }
      span:last-child {
        font-size: 13px;
        // width: 100%;
        // overflow: hidden;
        // white-space: nowrap;
        // overflow: hidden !important;
        // text-overflow: ellipsis;
      }
    }
  }
  &__body {
    flex: 1;
    padding: 0px 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    .otherNeeds {
      font-size: 13px;
    }
  }
  &__bodyRow {
    flex: 1;
    display: flex;
    font-size: 13px;
    max-width: 90%;
    padding: 10px 0;
    &__left {
      width: 280px;
      font-family: OpenSanceBold;
    }
    &__right {
      flex: 1;
      display: flex;
      justify-content: space-between;
      span {
        flex: 1;
      }
      & span:first-child {
        flex: 2;
      }
      & span:last-child span {
        font-family: OpenSanceBold;
      }
    }
    i {
      padding: 0 5px;
      color: greenyellow;
    }
  }
  &__footer {
    background: whitesmoke;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15% 0 40px;
    .offerIssued {
      span {
        margin-right: 5px;
      }
    }

    .--warning {
      margin-right: 150px;
      width: 130px;
      font-family: OpenSanceBold;
    }
    .moreActions {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }
    .--success {
      min-width: 150px;
    }
    .--primary {
      min-width: 150px;
      margin-right: 20px;
    }
  }
}
