@import "./../../styles/mixins.scss";
.newApps {
  display: flex;
  flex-direction: column;
}
.application {
  background: white;
  box-shadow: 0 0 2px lightgray;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  &__header {
    margin: 20px 40px 0 40px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
  }
  &__title {
    font-size: 22px;
    font-family: OpenSanceBold;
    margin-bottom: 10px;
  }
  &__headerinfo {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    font-family: OpenSanceBold;
    .headerItem {
      display: flex;
      flex-direction: column;
      font-size: 13px;
      color: gray;
      span:first-child {
        font-size: 14px;
        color: black;
      }
    }
  }
  &__body {
    flex: 1;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    .otherNeeds {
      font-size: 13px;
    }
  }
  &__bodyRow {
    flex: 1;
    display: flex;
    font-size: 13px;
    padding: 10px 0;
    // max-width: 80%;
    span {
      flex: 1;
    }
    & span:first-child {
      font-family: OpenSanceBold;
    }
    & span:last-child span {
      font-family: OpenSanceBold;
    }
    i {
      padding: 0 5px;
      color: greenyellow;
    }
    &.needsRow span:last-child {
      flex: 2;
      line-height: 1.5;
      font-size: 12px;
    }
  }
  &__footer {
    background: whitesmoke;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    padding: 0px 40px;
    .actions {
      flex: 1;
       .--warning {
      margin-right: 150px;
      width: 130px;
      font-family: OpenSanceBold;
    }
    }
    span:nth-child(2) {
      font-size: 13px;
      padding: 0 10px;
    }
    span:last-child {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-family: OpenSanceBold;
      text-decoration: none;
      @include variable(app-item-footer-link-color, color, blue);
      i {
        padding: 0 10px;
      }
    }
  }
}

.searchbar {
  display: flex;
  margin-bottom: 20px;
  button {
    margin-right: 10px;
  }
  .formInput {
    flex: 1;
  }
  & .formInput:last-child {
    margin-left: 10px;
  }
}
