.rejectApp {
  &__header {
    display: flex;
    height: 85px;
    border-bottom: 0.5px solid lightgray;
    align-items: center;
    padding: 0 20px;
    .title {
      display: flex;
      flex: 1;
      flex-direction: column;
      font-size: 13px;
      span:first-child {
        font-size: 20px;
        margin-bottom: 7px;
        font-family: OpenSanceBold;
      }
    }
    .closeIcon {
      font-size: 13px;
      color: gray;
      transition-duration: 0.2s;
      cursor: pointer;
      &:hover {
        color: black;
        transition-duration: 0.2s;
      }
    }
  }
  &__body {
    .spinner {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    .reasons {
      padding: 20px;
      padding-bottom: 10px;
      &__body {
        display: flex;
        flex-wrap: wrap;
        .custom_checkbox {
          width: calc(50% - 20px);
          margin: 20px 10px;
        }
      }

      .formInput {
        padding: 0px 10px;
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-top: 0.5px solid lightgray;
    button {
      margin-left: 10px;
    }
  }
}
